<!DOCTYPE html>
<html>
<head>
<title>File Chunker</title>
</head>
<body>

<h1>Upload file</h1>

<form action="/" method="post" accept-charset="utf-8"
      enctype="multipart/form-data">


    <label for="fletter">First letter in chunk:</label><br>
    <input type="text" id="fletter" name="fletter"><br>

    <label for="lletter">Last Letter in chunk:</label><br>
    <input type="text" id="lletter" name="lletter"><br><br>

    <label for="doc">File to chunk: </label>
    <input id="doc" name="doc" type="file" value=""/>


    <input type="submit" value="submit"/><br>


</form>

</body>
</html>